body {
 text-align:center;   
 font-family: 'Indie Flower', cursive;

background-color: orange;


}

img {
 height:300px;   
 width:300px;
}

.images{
 margin-top:10px;   
}
input{
    width:130px;
}
h1{
    border:5px solid black;
    
}